.wrapper {
}
.page {}

.page__container {
    padding: 50px;
	}

.page__home-works {
    
		}

.page__home-work-01-link {

    display: inline-block;
    padding: 15px 60px;
    background: #0079ff;
    color: #fff;
    border-radius: 5px;  
    text-decoration: none;
    transition: all 0.3s ease 0s;
	}
    .page__home-work-01-link:hover{
        background: #0472f0;
    }

.text{
    padding-bottom: 23px;
    font-size: 18px;
    font-weight: 700;
}
body{
    font-family: 'Roboto', sans-serif;
}