<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<FONTS>-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!--FONTS-->
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue.JS HomeWork #2 Task-1</title>
</head>

<body>
    <div id="app">
        <div class="authorization__container">
            <h1>Sign In Form</h1>
            <div class="authorization__content">
                <form class="authorization__form" method="post">
                    <!-- Поле логина -->
                    <input type="text" class="authorization__user" name="user" v-model="usernameInput"
                        placeholder="username" />
                    <!-- Поле пароля -->
                    <input type="password" class="authorization__pass" name="pass" v-model="passwordInput"
                        placeholder="password" />
                    <!-- Кнопка для отправки -->
                    <button type="submit" @click="logIn">GO</button>
                    <!-- Авторизация прошла успешно -->
                    <div style="width: 50px;" v-if="authorizationComplited">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                            <path
                                d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm-80-216c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160 0c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm4 72.6c-20.8 25-51.5 39.4-84 39.4s-63.2-14.3-84-39.4c-8.5-10.2-23.7-11.5-33.8-3.1-10.2 8.5-11.5 23.6-3.1 33.8 30 36 74.1 56.6 120.9 56.6s90.9-20.6 120.9-56.6c8.5-10.2 7.1-25.3-3.1-33.8-10.1-8.4-25.3-7.1-33.8 3.1z" />
                        </svg>
                    </div>
                </form>
                <!-- Сообщения об ошибке -->
                <div class="authorization-error" :class="{'blue': ivanError}">{{authorizationIsNotPossible}}</div>
            </div>
        </div>
    </div>

    <script>
        // Массив зарегистрированных пользователей
        const RegisteredUsers = [
            {
                username: "sordo123",
                password: "01102004"
            },
            {
                username: "andrewMon",
                password: "1231230",
            },
            {
                username: "123123",
                password: "111111",
            },
            {
                username: "1111",
                password: "1111"
            },
            {
                username: "12",
                password: "12",
            },
            {
                username: "123",
                password: "111",
            },
            {
                username: "Salamon",
                password: "12Qq12Ww22"
            },
            {
                username: "qwerty",
                password: "qwerty1",
            },
        ]
        const { createApp } = Vue

        createApp({
            // Определяем данные
            data(app) {

                return {
                    usernameInput: undefined,
                    passwordInput: undefined,
                }
            },

            // Определение методов
            methods: {
                logIn() {
                    event.preventDefault();

                    // Переводим login в нижний регистр
                    const lowercaseUsername = this.usernameInput.toLowerCase();
                    // Проверка наличия в массиве веденного username и password
                    const userExists = RegisteredUsers.some(user => {
                        return user.username.toLowerCase() === lowercaseUsername && user.password === this.passwordInput;
                    });
                    // Убираем смайл
                    this.authorizationComplited = false;
                    // Логика выполнения метода по проверки наличия пользователя в массиве
                    if (!userExists) {
                        this.authorizationIsNotPossible = 'Авторизація не вдалася. Неправильний логін або пароль.';
                        // Проверка введено ли в поле ввода ivan
                        if (!userExists && lowercaseUsername === 'ivan') {
                            this.ivanError = true;
                        } else {
                            this.ivanError = false;
                        }
                    } else {
                        // Если пользователь найден очищаем сообщение ошибки и добавляем смайл
                        this.authorizationIsNotPossible = '';
                        this.authorizationComplited = true;
                    }
                    // Oчищаем поля ввода 
                    this.usernameInput = null;
                    this.passwordInput = null;
                },
            },
        }).mount('#app')

    </script>

</body>

</html>